<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Erreur 403</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/static/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 collg-offset-4">
					<div class="card">
						<div class="card-header">Problème d'autorisation</div>
						<div class="card-body">
						<div>
						Vous n'avez pas le droit d'accèder à cette ressource
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>