<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Espace Utilisateur</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<div class="card">
						<div class="card-header">
							<h2>Mes informations personnelle</h2>
						</div>
						<div class=card-body>
							<p><span>Mon nom d'utilisateur: </span><span th:text="${infosUtilisateur.pseudo}"></span></p>
							<p><span>Mon adresse email: </span><span th:text="${infosUtilisateur.email}"></span></p>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
		</div>
</body>
</html>