<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Liste des emprûnts</title>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="card" th:each="leu:${listeEmpruntsUtilisateur}">
            <div class="card-img-top">#######</div>
            <div class="card-header" th:text="${leu.livre.titre}"></div>
            <div class="card-body"><ul>
                <li th:text="${#dates.format(leu.dateDebut, 'dd/MM/yyyy')}"></li>
                <li th:text="${#dates.format(leu.dateFin, 'dd/MM/yyyy')}"></li>
            </ul></div>
            <div class="card-footer"><button class="btn btn-primary">Prolonger</button> </div>
        </div>
    </div>
    </div>
    </body>
    </html>